<div class="row">
  <div class="s12">
    <div class="card blue accent-2">
      <div class="card-content white-text">
        <h2 class="card-title title board__title">
          <%= board.title %>
        </h2>
        <%= board.body %>
      </div>
    </div>
  </div>
</div>