// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
  position: relative;
  text-align: left;
  border: 1px solid grey;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: nowrap row;
  justify-content: left;
  align-items: center;
  & > * {
    padding: 1em 0;
  }
}

.board__body {
  width: 100%;
  a {
    margin-right: 2em;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
  }
}

.close {
  padding: 1em .75em;
  margin-right: 1.5em;
}

.edit {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}