@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import 'materialize';

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2em;
}

.board__title {
  font-size: 1.5rem;
  font-weight: bold;
}